{% trans_default_domain 'MSWizardBundle' %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/mswizard/css/wizard.css') }}">
{% endblock %}

{% block prebody %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ 'headline'|trans([], 'frontend') }}</h2>
                <p>{{ 'subline'|trans([], 'frontend') }}</p>

                <div class="step-bar">
                    <ul>
                        <li class="active" data-step="1">{{ 'step.one'|trans([], 'frontend') }}</li>
                        <li data-step="2">{{ 'step.two'|trans([], 'frontend') }}</li>
                        <li data-step="3">{{ 'step.three'|trans([], 'frontend') }}</li>
                    </ul>
                </div>

                <div class="progress">
                    <div class="progress-bar" id="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                </div>

                <div class="step-content">
                    {{ form_start(form) }}
                    <div class="tab-pane" id="step-1">
                        {% include 'MSWizardBundle:Default:step1.html.twig' %}
                    </div>
                    <div class="tab-pane" id="step-2">
                        {% include 'MSWizardBundle:Default:step2.html.twig' %}
                    </div>
                    <div class="tab-pane" id="step-3">
                        {% include 'MSWizardBundle:Default:step3.html.twig' %}
                    </div>

                    <div class="pager wizard">
                        <button class="btn btn-primary" id="btn-prev">{{ 'form.prev'|trans({},'forms') }}</button>
                        <button class="btn btn-primary" id="btn-next">{{ 'form.next'|trans({},'forms') }}</button>
                        <input type="submit" class="btn btn-primary" id="btn-save" value="{{ 'form.save'|trans({},'forms') }}">
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/mswizard/js/wizard.js') }}"></script>
{% endblock %}
