.hide {
    display: none;
}

.step-bar ul li {
    display: inline-block;
    border: 1px solid #337ab7;
    padding: 10px;
    color: #000000;
}

.step-bar ul li.active{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
    color: #ffffff;
}